/*

INDICE

00 - RESET + TAG PRINCIPALI
01 - HEADER
02 - MAIN - DESCRIPTION, CONTAINER INPUT, FOTO E CARDS
03 - CARDS RECENSIONI
04 - FOOTER
*/



/*
00 - RESET + TAG PRINCIPALI 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*background: linear-gradient(to right, #7b2100, #ff5213 50%, #7b2100);*/
    background: linear-gradient(to right, #5e5e5e, #AAAAAA 50%, #5e5e5e);
}

header {
    min-height: 120px;
    /*border-bottom: 4px solid rgb(0, 255, 221);*/
    border-bottom: 4px solid #ab0900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgb(0, 11, 49);*/
    background-color: #FF4136;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    background-color: #FF4136;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
}

/*
01 - HEADER
*/

.left {
    display: flex;
    padding-left: 20px;
}

.right {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right a {
    color: beige;
    font-size: 20px;
    text-decoration:underline;
    cursor: pointer;
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: bisque;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.logo svg {
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.75));
}

/*
02 - MAIN - DESCRIPTION, CONTAINER INPUT, FOTO E CARDS
*/

.description {
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 1.8;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 120px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF4136;
    font-style: italic;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1.75);
}

.container-del-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.fotina {
    height: 350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.fotina img {
    height: 100%;
}

#container {
    /*border: 1px solid rgb(0, 255, 221);*/
    border: 1px solid #ab0900;
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgb(0, 11, 49);*/
    background-color: #FF4136;
    margin-bottom: 50px;
}

#jobPosition, #jobLocation {
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #ab0900;
    box-shadow: 0px 0px 10px 0px #000000;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.loghi {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
}

.lavorativa {
    margin-right: 20px;
}

#btn {
    width: 150px;
    min-height: 40px;
    border-radius: 30px;
    border: 2px solid #ab0900;
    box-shadow: 0px 0px 10px 0px #000000;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(86, 0, 0);
    color: white;
  }

#printe {
    border: 1px solid white;
    width: 100%;
    min-height: 30px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li {
    list-style: decimal-leading-zero;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

/*
03 - CARDS RECENSIONI
*/

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 50px;
}


.recensioni {
    height: 250px;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    height: 200px;
    width: 230px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color:rgb(250, 229, 202);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.foto-stelle {
    display:flex;
    align-items: center;
    height: 60px;
    margin-bottom: 15px;
}

.img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
}

.stelle {
    display: flex;
    margin-left: 5px;
}

.singole-stelle {
    height: 25px;
    width: 25px;
    border: 0.5px solid black;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.nominativi {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

/*
04 - FOOTER
*/

.indirizzo p {
    color: bisque;
}

footer li, a {
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}


